@{
    Layout = null;
    ViewData["Title"] = "Inmuebles Mas Reservados";
    @Html.Partial("_NavAdmin")
    var datos = (List<(string Nombre, int Cantidad)>)ViewBag.Datos;
    var labels = datos.Select(d => d.Nombre).ToList();
    var valores = datos.Select(d => d.Cantidad).ToList();
}
<link rel="stylesheet" href="@Url.Content("~/css/Reportes.css")" />

<div class="fade-in">
    <br />
    <h2 style="text-align:center;">Inmuebles Más Reservados</h2>
    <br>
    <div class="chart-container" style="width: 60%; margin: auto;">
        <canvas id="graficoInmuebles"></canvas>
    </div>
    <br>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const labels = @Html.Raw(Json.Serialize(labels));
    const valores = @Html.Raw(Json.Serialize(valores));

    new Chart(document.getElementById('graficoInmuebles'), {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Cantidad de Reservas',
                data: valores,
                backgroundColor: 'rgba(54, 162, 235, 0.7)'
            }]
        },
            options: {
            responsive: true,
            maintainAspectRatio: false  // Importante para que se adapte al contenedor
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>