@{
    ViewData["Title"] = "Panel de Cliente";
}
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>
<h2>Bienvenido Cliente</h2>
<p>Esta es la página principal para clientes.</p>
<a href="@Url.Action("Logout", "Auth")">Cerrar sesión</a>
