@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Panel de Admin";
}

<br />
<h2>Bienvenido Admin</h2>
<p>Esta es la página principal para administradores.</p>
<a asp-controller="Cliente" asp-action="ListClientes">Mantenimiento Cliente</a>
<br />
<a href="@Url.Action("Logout", "Auth")">Cerrar sesión</a>
