html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.login-row {
    height: calc(100vh - 67px);
}

.login-right {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.login-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 90% center;
}

.container-fluid,
.login-row {
    padding: 0 !important;
    margin: 0 !important;
}